body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 200px;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fff0f3;
    color: #2b2839;
    border-bottom: 6px solid #f26a8d;
    border-right: 6px solid #f26a8d;
    border-radius: 25px;        
}

.border-blue {
    border: 1px dotted blue;
}

.avatar {
    border-radius: 25px;
}
